body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.score-container {
  position: absolute;
  left: 1010px;
  top: 10px;
}

.score, .high-score {
  font-family: 'Geneva';
  color: white;
}
